body {
  overflow-x: hidden;
}

.navbar {
  background: rgba(241, 243, 255, 1);
}

.header {
  background: rgba(241, 243, 255, 1);
}

.header_img {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

.header .container_right {
  min-height: 32vw;
}

.ourservice_img {
  height: 93%;
  width: 93%;
}

.card_banner {
  background: rgba(13, 40, 166, 1);
}

.container_banner {
  height: 22rem;
}

.card-title_h3 {
  color: white;
}

.card-text_p {
  color: white;
}

.footer {
  margin-bottom: 2rem;
}

.carousel_container {
  display: grid;
  align-items: center;
  grid-template-columns: 30% 70%;
  padding: 1.5rem;
  border-radius: 1rem;
  height: 20rem;
  background: rgba(241, 243, 255, 1);
}
.carousel_left {
  justify-self: center;
}

.carouselRight {
  padding-right: 1rem;
}

.carouselRight p {
  padding-top: 1rem;
}

.prevLeft {
  margin-top: 22rem;
  margin-left: 34rem;
}

.nextRight {
  margin-top: 22rem;
  margin-right: 34rem;
}

/* ====== PHONE ======= */

@media screen and (max-width: 425px) {
  .carousel {
    margin-left: 5%;
    margin-right: 5%;
  }

  .carousel_container {
    margin-left: 5%;
    margin-right: 5%;
    height: 24rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .prevLeft {
    margin-top: 26rem;
    margin-left: 6.5rem;
  }

  .nextRight {
    margin-top: 26rem;
    margin-right: 6.5rem;
  }

  .ctaBanner {
    margin-left: 5%;
    margin-right: 5%;
  }

  .container_banner{
    height: 25rem;
  }
}

/* ====== Tablet ======= */

@media (min-width: 768px) and (max-width: 991.98px) {
  .ourservice_img {
    padding-top: 4rem;
    height: 90%;
    width: 100%;
  }

  .prevLeft {
    margin-top: 22rem;
    margin-left: 19rem;
  }

  .nextRight {
    margin-top: 22rem;
    margin-right: 19rem;
  }
}
